$bm-black-primary: mat-palette($mat-grey, 700, 300, 900);
$bm-black-accent: mat-palette($mat-blue-grey, 400);
$bm-black-warn: mat-palette($mat-red, 500);

$bm-black-theme: mat-dark-theme(
  $bm-black-primary,
  $bm-black-accent,
  $bm-black-warn
);
