$bm-primary: mat-palette($mat-light-blue, 900, A700, 600);
$bm-accent: mat-palette($mat-light-blue);
$bm-warn: mat-palette($mat-pink, 600);

$bm-theme: mat-light-theme($bm-primary, $bm-accent, $bm-warn);
