$bm-light-primary: mat-palette($mat-grey, 200, 500, 300);
$bm-light-accent: mat-palette($mat-brown, 200);
$bm-light-warn: mat-palette($mat-deep-orange, 200);

$bm-light-theme: mat-light-theme(
  $bm-light-primary,
  $bm-light-accent,
  $bm-light-warn
);
