$bm-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$bm-nature-accent: mat-palette($mat-deep-purple, 300);
$bm-nature-warn: mat-palette($mat-red, 600);

$bm-nature-theme: mat-light-theme(
  $bm-nature-primary,
  $bm-nature-accent,
  $bm-nature-warn
);
