<div class="container">
  <div class="row align-items-end">
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>
          Weigth
        </mat-card-title>
        <div class="large-text">
          {{weight}} g
        </div>
        <mat-card-actions>
          <a mat-button href="www.google.de" target="_blank">
            <fa-icon icon="book"></fa-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>
          Time
        </mat-card-title>
        <div class="large-text">
          {{seconds}}:{{milliseconds}}
        </div>
        <mat-card-actions>
          <a mat-button href="www.google.de" target="_blank">
            <fa-icon icon="book"></fa-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>
          Ratio
        </mat-card-title>
        <div class="large-text">
          {{weight}} g
        </div>
        <mat-card-actions>
          <a mat-button href="www.google.de" target="_blank">
            <fa-icon icon="book"></fa-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-12 col-lg-12" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>
          Chart
        </mat-card-title>
        <canvas baseChart height="80%"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (click)="tare()">
        </canvas>
      </mat-card>
    </div>
    <button mat-button (click)="test()">Click me!</button>

  </div>
</div>
